:root {
  /* fonts */
  --kw-title-font: "Bebas Neue", sans-serif;
  --kw-subtitle-font: "Fira Sans", sans-serif;
  --kw-heading-font: "Bebas Neue", sans-serif;
  --kw-body-font: "Roboto", sans-serif;

  /* colors */
  --kw-primary-color: #aeb9b3b6;
  --kw-secondary-color: #FAC539;
  --kw-highlight-color: #2DE2FA;
  --kw-dark-color: #212121;
  --kw-light-color: #67d4cbb0;
  --kw-background-color: rgba(250, 250, 250, 0.8);
  /* 4th value of rgba is the opacity from 0-1 (complete transparent to complete opaque (1) */

  /* nav Bar colors */
  --kw-nav-bg-color: var(--kw-dark-color);
  --kw-nav-toggler-color: var(--kw-highlight-color);
  --kw-nav-toggler-glow: rgba(250, 225, 120, 0.55);

  /* form colors */
  --kw-formfocus-border-color: var(--kw-secondary-color);
  --kw-formfocus-shadow: var(--kw-primary-color);
  --kw-form-background-color: var(--kw-background-color);

  /* text styles */
  --kw-title-color: var(--kw-dark-color);
  --kw-font-size: 1.2rem;
  --kw-font-weight: 400;
  --kw-line-height: 1.5rem;
}

/* font-family: 'Allan', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html,
body {
  height: 100%;
  /* height is height of browser screen */
}

/* START STICKY FOOTER */
body {
  display: flex;
  /* Bootstrap class = d-flex */
  flex-direction: column;
  /* Bootstrap class = flex-column */

  font-family: var(--kw-body-font);
  font-size: var(--kw-font-size);
  font-weight: var(--kw-font-weight);
  line-height: var(--kw-line-height);
  color: var(--kw-dark-color);
  background: var(--kw-background-color);
}

main {
  flex-grow: 1;
}

footer {
  /* this will make footer tag at bottom of page no matter what */
  flex-shrink: 0;
}
/* END STICKY FOOTER */

/* Element Overrides */
section {
    padding-left: 1rem;
    padding-right: 1rem;
}

h6, .h6,
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2, 
h1, .h1 {
    font-family: var(--kw-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--kw-title-color);
    letter-spacing: .1rem;
}



/* START NAVBAR */
.navbar-toggler-kw {
    color: var(--kw-toggler-color);
    font-size: 1.5rem;
}

.navbar-toggler {
    color: var(--kw-nav-toggler-glow);
    border-color: var(--kw-nav-toggler-color);
}

#mainNav {
    background: var(--kw-nav-bg-color);
}

/* END NAVBAR */

/* START MAIN HEADER */
.mainLogo {
  height: 0.6em;
}

.mainHeader {
  margin-top: 76px;
  height: 200px;
  background-image: url(/img/DevPortFolioBG_576.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: var(--kw-light-color);
}

.mainHeader-cover {
    margin-top: 76px;
    height: 460px;
    background-image: url(/img/cityBG_2560.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.mainHeader-cover > .mainHeader-content {
/* > means immediate child, if its nested beyond that it wont be affected; when omitted it can affect any nested content inside*/
    backdrop-filter: blur(2px) brightness(90%)
}

.mainHeader-cover .mainTitle,
.mainHeader-cover .subTitle {
    color: var(--kw-light-color)
}

.mainTitle, 
.subTitle {
    color: var(--kw-dark-color);

}

.mainTitle {
    font-family: var(--kw-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
}

.subTitle {
    font-family: var(--kw-subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: 0.09rem;
}

.mainHeader-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainHeader-content {
    height: 100%;
    display: flex;
    align-items: center;
}
/* END MAIN HEADER */


.btn-primary {
    --bs-btn-bg: var(--kw-secondary-color);
    --bs-btn-border-color: var(--kw-secondary-color);
    --bs-btn-hover-bg: var(--kw-highlight-color);
    --bs-btn-hover-border-color: var(--kw-highlight-color);
    --bs-btn-hover-color: var(--kw-dark-color);
    transition: color 0.25s;
}

/* BEGIN MAIN ELEMENTS */
.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--kw-light-color) ;
    
}

.section-page:nth-child(odd) {
    background-color: var(--kw-primary-color);
}

.section-page:nth-last-child(2) {
    background-color: var(--kw-primary-color);
    
}

.section-page:last-child {
    background-color: var(--kw-light-color);
    
}

.profilePic {
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5)
}

/* END MAIN ELEMENTS */

/* DEVICONS */
#skills .colored {
    font-size: 4rem;
}

.section-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--kw-dark-color);
    color: var(--kw-light-color);
    text-align: center;
    font-size: .9rem;
    line-height: 1.2rem;
}

.section-cta span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.cta-arrow {
    color: var(--kw-highlight-color);
    font-size: 2rem;
    transition: .4s;
}

.cta-arrow:hover {
    filter: brightness(1.2);
}

/* START FOOTER */
.socialicons {
  font-size: 2rem;
  color: var(--kw-secondary-color);
  transition: color 0.5s;
}

.socialicons:hover {
  color: var(--kw-highlight-color);
}

/* footer{
    background: var(--kw-nav-bg-color);
} */

.footer-cta {
    background-color: var(--kw-secondary-color);
    border-radius: 10px;
    width: 75%;
}

.footer-message {
    color: var(--kw-dark-color);
    letter-spacing: .1rem;
}

.footer-bg-cta {
    background: linear-gradient(to bottom,
    var(--kw-background-color) 0%,
    var(--kw-background-color) 50%,
    var(--kw-dark-color) 50%, 
    var(--kw-dark-color) 100%);
    
}

.footer-main {
    background-color: var(--kw-dark-color);
}

/* END FOOTER */

.bgImage{
    width: 100%;
    background: linear-gradient(rgba(202, 200, 200, 0.7), rgba(180, 174, 174, 0.7)), url(/img/pexels-shonejai-2657636.jpg); 
        /* rgba is transparency as opposed to rgb which is color*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

/************MEDIA QUERIES*************/

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mainHeader{
        background-image: url(/img/DevPortFolioBG_767.png);
        height: 300px;
    }

    .mainTitle {
        font-size: .5rem;
        line-height: 2rem;
    }

    .subTitle {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mainHeader {
        background-image: url(/img/DevPortFolioBG_992.png);
        height: 300px;
    }
    
    .mainTitle {
        font-size: .55rem;
        line-height: 2.5rem;
    }

    .subTitle {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }

    .section-cta {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .cta-arrow {
        font-size: 2.5rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mainHeader{
        height: 400px;
        background-image: url(/img/DevPortFolioBG_1200.png);
    }
    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .subTitle {
        font-size: 1.2rem;
        letter-spacing: .1rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mainHeader{
        height: 500px;
        background-image: url(/img/DevPortFolioBG_2560.png);
    }

    .mainTitle {
        font-size: 6.5rem;
        line-height: 5rem;
        letter-spacing: .1rem;
    }

    .subTitle {
        font-size: 1.5rem;
        letter-spacing: .1rem;
    }

    .section-cta {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 300;
    }
    .cta-arrow {
        font-size: 3.5rem;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
 
    /* not used currently */

}

/************ END MEDIA QUERIES*************/
